<a href="https://colab.research.google.com/github/tridev003/Big-Mart-Sales-Prediction/blob/main/BigMartSalesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dataset_train = pd.read_csv('/content/train_v9rqX0R.csv')
dataset_test = pd.read_csv('/content/test_AbJTz2l.csv')

pd.pandas.set_option('display.max_columns',None)

In [ ]:
print((dataset_test).shape,(dataset_train).shape)

(5681, 11) (8523, 12)

In [ ]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
dataset_test.info()

In [ ]:
dataset_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

HANDLING MISSING VALUES

In [ ]:
dataset_train.isnull().sum()

In [ ]:
#handling  missing value in numerical feature
#there is only one numerical feature which has missing value
mean_value = dataset_train['Item_Weight'].mean()
dataset_train['Item_Weight'].fillna(mean_value,inplace =True)

dataset_train['Item_Weight'].isnull().sum()

0

In [ ]:
#handling missing value in categorical feature 
#there is only one categorical feature which has missing value

#we get to know that Medium is the most common value
dataset_train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [ ]:

dataset_train['Outlet_Size'].fillna('Medium',inplace= True)

dataset_train['Outlet_Size'].isnull().sum()

0

In [ ]:
dataset_train.shape

(8523, 12)

In [ ]:
sns.heatmap(dataset_train.isnull(),yticklabels =False,cbar = False,cmap ='YlGnBu')

In [ ]:
dataset_train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

TEST DATA

In [ ]:
dataset_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [ ]:
#handling  missing value in numerical feature
#there is only one numerical feature which has missing value
mean_value_test = dataset_test['Item_Weight'].mean()
dataset_test['Item_Weight'].fillna(mean_value,inplace =True)

dataset_test['Item_Weight'].isnull().sum()

0

In [ ]:
#handling missing value in categorical feature 
#there is only one categorical feature which has missing value

#we get to know that Medium is the most common value
dataset_test['Outlet_Size'].value_counts()

Medium    1862
Small     1592
High       621
Name: Outlet_Size, dtype: int64

In [ ]:

dataset_test['Outlet_Size'].fillna('Medium',inplace= True)

dataset_test['Outlet_Size'].isnull().sum()

0

In [ ]:
dataset_test.shape

(5681, 11)

In [ ]:
sns.heatmap(dataset_test.isnull(),yticklabels =False,cbar = False,cmap ='YlGnBu')

In [ ]:
dataset_test.isnull().sum()

HANDLING TEMPORAL VARIABLES (Date And Time)

In [ ]:

dataset_train['Outlet_Establishment_Year'] = 2013 - dataset_train['Outlet_Establishment_Year']

dataset_test['Outlet_Establishment_Year'] = 2013- dataset_test['Outlet_Establishment_Year']

In [ ]:
dataset_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,14,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,4,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,14,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,15,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,26,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
dataset_test.head()

Merging train and test data for further feature engineering

In [ ]:
final_df = pd.concat([dataset_train,dataset_test],axis = 0)

In [ ]:
final_df.shape

(14204, 12)

In [ ]:
final_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,14,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,4,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,14,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,15,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,26,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                14204 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.4+ MB

handling categorical variable

In [ ]:
#it is giving values in minus

#for feature in num_features:
 # final_df[feature] = np.log(final_df[feature]+1)

lets handle rare categorical variable

**no need of handling

In [ ]:
#for features in cat_features:
 # temp = final_df.groupby(features)['Item_Outlet_Sales'].count()/len(final_df)
  #temp_df = temp[temp>0.01].index
  #final_df[features] = np.where(final_df[features].isin(temp_df),final_df[features],'Rare_var')

handling categorical variables using one hot encoding

In [ ]:
final_df['Item_Fat_Content'].value_counts()

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [ ]:
pd.pandas.set_option('display.max_rows',None)
final_df['Item_Identifier'].value_counts()

In [ ]:
#get the first two characters of id

final_df['Item_Type_Combined'] = final_df['Item_Identifier'].apply(lambda x : x[0:2])

#rename them to more intuitve categories:
final_df['Item_Type_Combined'] = final_df['Item_Type_Combined'].map({'FD':'Food',
'NC': 'Non=Consumble','DR':'Drinks'})                                                                  

final_df['Item_Type_Combined'].value_counts()

Food             10201
Non=Consumble     2686
Drinks            1317
Name: Item_Type_Combined, dtype: int64

In [ ]:
#change categories of low fat:

print ('Original Categories:')
print (final_df['Item_Fat_Content'].value_counts())

print ('\nModified Categories:')
final_df['Item_Fat_Content'] = final_df['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print(final_df['Item_Fat_Content'].value_counts())

Original Categories:
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Modified Categories:
Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [ ]:
final_df['Item_Type'].value_counts()

Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

In [ ]:
final_df['Outlet_Identifier'].value_counts()

OUT027    1559
OUT013    1553
OUT049    1550
OUT046    1550
OUT035    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64

In [ ]:
final_df.drop(['Outlet_Identifier','Item_Type','Item_Identifier'],axis =1,inplace = True)

In [ ]:
num_features  = [feature for feature in final_df.columns if final_df[feature].dtype !='O']
cat_features =  [feature for feature in final_df.columns if final_df[feature].dtype =='O' ]


print(cat_features)

['Item_Fat_Content', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Type_Combined']

In [ ]:
#One Hot Coding:
final_df = pd.get_dummies(final_df, columns=['Item_Fat_Content', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Type_Combined'])

In [ ]:
'''
def category_onehot_multcols(multcolumns):
    df_final=final_df
    i=0
    for fields in multcolumns:
        
        print(fields)
        df1=pd.get_dummies(final_df[fields],drop_first=True)
        
        final_df.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([final_df,df_final],axis=1)
        
    return df_final
'''

'\ndef category_onehot_multcols(multcolumns):\n    df_final=final_df\n    i=0\n    for fields in multcolumns:\n        \n        print(fields)\n        df1=pd.get_dummies(final_df[fields],drop_first=True)\n        \n        final_df.drop([fields],axis=1,inplace=True)\n        if i==0:\n            df_final=df1.copy()\n        else:\n            \n            df_final=pd.concat([df_final,df1],axis=1)\n        i=i+1\n       \n        \n    df_final=pd.concat([final_df,df_final],axis=1)\n        \n    return df_final\n'

In [ ]:
#final_df = category_onehot_multcols(cat_features)

In [ ]:
final_df.shape

(14204, 20)

In [ ]:
final_df  = final_df.loc[:,~final_df.columns.duplicated()]

In [ ]:
final_df.shape

(14204, 20)

In [ ]:
final_df.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non=Consumble
0,9.30,0.016047,249.8092,14,3735.1380,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
1,5.92,0.019278,48.2692,4,443.4228,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0
2,17.50,0.016760,141.6180,14,2097.2700,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
3,19.20,0.000000,182.0950,15,732.3800,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0
4,8.93,0.000000,53.8614,26,994.7052,1,0,1,0,0,0,0,1,0,1,0,0,0,0,1

FEATURE SCALING

In [ ]:
feature_scale =[feature for feature in final_df.columns if feature not in ['Item_Outlet_Sales']]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(final_df[feature_scale])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
final_df2 = pd.concat([final_df[['Item_Outlet_Sales']].reset_index(drop = True),
                       pd.DataFrame(scaler.transform(final_df[feature_scale]),
                                    columns = feature_scale)],
                      axis =1)

In [ ]:
final_df2.head()

,Item_Outlet_Sales,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non=Consumble
0,3735.1380,0.282525,0.048866,0.927507,0.416667,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,443.4228,0.081274,0.058705,0.072068,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,2097.2700,0.770765,0.051037,0.468288,0.416667,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,732.3800,0.871986,0.000000,0.640093,0.458333,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,994.7052,0.260494,0.000000,0.095805,0.916667,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
df_train = final_df2.iloc[:8523,:]
df_test= final_df2.iloc[8523:,:]

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Item_Outlet_Sales                 8523 non-null   float64
 1   Item_Weight                       8523 non-null   float64
 2   Item_Visibility                   8523 non-null   float64
 3   Item_MRP                          8523 non-null   float64
 4   Outlet_Establishment_Year         8523 non-null   float64
 5   Item_Fat_Content_Low Fat          8523 non-null   float64
 6   Item_Fat_Content_Regular          8523 non-null   float64
 7   Outlet_Size_High                  8523 non-null   float64
 8   Outlet_Size_Medium                8523 non-null   float64
 9   Outlet_Size_Small                 8523 non-null   float64
 10  Outlet_Location_Type_Tier 1       8523 non-null   float64
 11  Outlet_Location_Type_Tier 2       8523 non-null   float64
 12  Outlet_Location_Type_Tier 3       8523 non-null   float64
 13  Outlet_Type_Grocery Store         8523 non-null   float64
 14  Outlet_Type_Supermarket Type1     8523 non-null   float64
 15  Outlet_Type_Supermarket Type2     8523 non-null   float64
 16  Outlet_Type_Supermarket Type3     8523 non-null   float64
 17  Item_Type_Combined_Drinks         8523 non-null   float64
 18  Item_Type_Combined_Food           8523 non-null   float64
 19  Item_Type_Combined_Non=Consumble  8523 non-null   float64
dtypes: float64(20)
memory usage: 1.3 MB

In [ ]:
df_train.shape

(8523, 20)

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 8523 to 14203
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Item_Outlet_Sales                 0 non-null      float64
 1   Item_Weight                       5681 non-null   float64
 2   Item_Visibility                   5681 non-null   float64
 3   Item_MRP                          5681 non-null   float64
 4   Outlet_Establishment_Year         5681 non-null   float64
 5   Item_Fat_Content_Low Fat          5681 non-null   float64
 6   Item_Fat_Content_Regular          5681 non-null   float64
 7   Outlet_Size_High                  5681 non-null   float64
 8   Outlet_Size_Medium                5681 non-null   float64
 9   Outlet_Size_Small                 5681 non-null   float64
 10  Outlet_Location_Type_Tier 1       5681 non-null   float64
 11  Outlet_Location_Type_Tier 2       5681 non-null   float64
 12  Outlet_Location_Type_Tier 3       5681 non-null   float64
 13  Outlet_Type_Grocery Store         5681 non-null   float64
 14  Outlet_Type_Supermarket Type1     5681 non-null   float64
 15  Outlet_Type_Supermarket Type2     5681 non-null   float64
 16  Outlet_Type_Supermarket Type3     5681 non-null   float64
 17  Item_Type_Combined_Drinks         5681 non-null   float64
 18  Item_Type_Combined_Food           5681 non-null   float64
 19  Item_Type_Combined_Non=Consumble  5681 non-null   float64
dtypes: float64(20)
memory usage: 887.8 KB

In [ ]:
df_train.head()

,Item_Outlet_Sales,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non=Consumble
0,3735.1380,0.282525,0.048866,0.927507,0.416667,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,443.4228,0.081274,0.058705,0.072068,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,2097.2700,0.770765,0.051037,0.468288,0.416667,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,732.3800,0.871986,0.000000,0.640093,0.458333,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,994.7052,0.260494,0.000000,0.095805,0.916667,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
df_test.shape

(5681, 20)

In [ ]:
df_test.head()

,Item_Outlet_Sales,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non=Consumble
8523,NaN,0.964275,0.023036,0.325012,0.416667,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8524,NaN,0.222983,0.117018,0.237819,0.083333,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8525,NaN,0.598095,0.303221,0.893316,0.458333,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
8526,NaN,0.164335,0.046860,0.525233,0.083333,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8527,NaN,0.494352,0.361153,0.861381,1.000000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
df_test.drop(['Item_Outlet_Sales'],axis =1,inplace =True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_test.shape

(5681, 19)

In [ ]:
Y_train = df_train['Item_Outlet_Sales']
X_train = df_train.drop(['Item_Outlet_Sales'],axis =1)

In [ ]:
print(X_train.shape,Y_train.shape)

(8523, 19) (8523,)

PRDICTING AND SELECTING ALGORITHM

In [ ]:
'''from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=200,max_depth=5, min_samples_leaf=100,n_jobs=4)
reg.fit(X_train,Y_train)
'''

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=100,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=4, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
'''from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 1800)
regressor.fit(X_train,Y_train)
'''

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1800, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
import xgboost
classfier  =xgboost.XGBRegressor()

In [ ]:
import xgboost
regressor=xgboost.XGBRegressor()

In [ ]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]

In [ ]:
## Hyper Parameter Optimization


n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [ ]:
# Set up the random search with 4-fold cross validation
from sklearn.model_selection import RandomizedSearchCV
random_cv = RandomizedSearchCV(estimator=regressor,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = 4,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

In [ ]:
#y_pred1 = reg.predict(df_test)
#y_pred = regressor.predict(df_test)

In [ ]:
random_cv.fit(X_train,Y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:   36.0s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:  6.5min
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed: 13.6min
[Parallel(n_jobs=4)]: Done 250 out of 250 | elapsed: 21.0min finished

[18:22:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=1, gamma=0,
                                          importance_type='gain',
                                          learning_rate=0.1, max_delta_step=0,
                                          max_depth=3, min_child_weight=1,
                                          missing=None, n_estimators=100,
                                          n_jobs=1, nthread=None,
                                          objective='reg:linear',
                                          random_state=0, reg_alpha=...
                   iid='deprecated', n_iter=50, n_jobs=4,
                   param_distributions={'base_score': [0.25, 0.5, 0.75, 1],
                                        'booster': ['gbtree', 'gblinear'],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2],
                                        'max_depth': [2, 3, 5, 10, 15],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': [100, 500, 900, 1100,
                                                         1500]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=True, scoring='neg_mean_absolute_error',
                   verbose=5)

In [ ]:
random_cv.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
random_cv.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
regressor = xgboost.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
regressor.fit(X_train,Y_train)

[18:25:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred = regressor.predict(df_test)

In [ ]:
#y_pred

array([1621.77852688, 1254.32475525,  772.69543837, ..., 1838.48311087,
       4733.55128988, 1521.31013912])

In [ ]:

from sklearn.metrics import mean_squared_error

print(regressor.score(X_train,Y_train))
print(np.sqrt(mean_squared_error(Y_train,regressor.predict(X_train))))

0.614069802949123
1060.0713473636179

In [ ]:
#print(regressor.score(X_train,Y_train))
#print(np.sqrt(mean_squared_error(Y_train,regressor.predict(X_train))))
   # print(np.sqrt(mean_squared_error(y_test,rfs.predict(X_test))))

0.9401547842576498
417.4413189984815

In [ ]:
pred = pd.DataFrame(y_pred)

In [ ]:

sub_df = pd.read_csv('/content/sample_submission_8RXa3c6.csv')
sub_df.columns

Index(['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'], dtype='object')

In [ ]:

#final  =pd.concat([sub_df['Item_Identifier', 'Outlet_Identifier'],pred],axis=1)
#final.columns = ['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales']
#final.to_csv('sample_submission.csv',index =False)

In [ ]:

sub_df.Item_Outlet_Sales = np.absolute(pred)
#sub_df.Item_Outlet_Sales = y_pred1
sub_df.to_csv("sample_submission3.csv",index=False)
#sub_df.to_csv("sample_submission1.csv",index=False)